files/savedSchemaXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Account">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cardList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="card">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="password" type="xs:unsignedByte" />
                                        <xs:element name="accountNumber" type="xs:unsignedByte" />
                                        <xs:element name="balance" type="xs:unsignedByte" />
                                        <xs:element name="kind" type="xs:string" />
                                        <xs:element name="status" type="xs:string" />
                                        <xs:element name="bankName" type="xs:string" />
                                        <xs:element name="issueDate" type="xs:string" />
                                        <xs:element name="validity" type="xs:unsignedByte" />
                                        <xs:element name="owner" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>